h1 {
	text-align:center;
}
#matrice {
	border: 2px solid black;
	width: 600px;
	height:auto;
	margin-left:28%;
	
}

.row ul li {
	display:inline-block;
	margin-right:40px;
	margin-bottom:20px;
}

.carre {
		width: 60px;
	height:60px;
	border: 2px solid black;
}

.rond {
	width: 60px;
	height:60px;
	border: 2px solid black;
	border-radius:100px;

}

.losange {
	 height: 50px;
    width: 50px;

margin-left:10px;
    -moz-transform: rotate(45deg); /* Firefox */
    -webkit-transform: rotate(45deg); /* Safari et Chrome */
    -o-transform: rotate(45deg); /* Opera */
 border: 2px solid black;
}



.plein{
	background-color:yellow;
}
.vide{
	background-color:white;
}